<div x-data="{ ttab: 'aa' }">
    <div class="flex justify-evenly text-5xl">
        <div :class="{ 'active': ttab === 'aa' }" class="cursor-pointer text-main-gray-blue hover:text-white" @click="ttab = 'aa'">道具賽</div>
        <div :class="{ 'active': ttab === 'bb' }" class="cursor-pointer text-main-gray-blue hover:text-white" @click="ttab = 'bb'">寵物</div>
        <div :class="{ 'active': ttab === 'cc' }" class="cursor-pointer text-main-gray-blue hover:text-white" @click="ttab = 'cc'">接力賽</div>
        <div :class="{ 'active': ttab === 'dd' }" class="cursor-pointer text-main-gray-blue hover:text-white" @click="ttab = 'dd'">無限加速</div>
    </div>
    <div class="">
        <div x-show="ttab === 'aa'">
            <%- include('casualitem/toolintro') %>
            <%- include('casualitem/toolitem') %>
        </div>
        <div x-show="ttab === 'bb'"><%- include('casualitem/petintro') %></div>
        <div x-show="ttab === 'cc'">接力賽</div>
        <div x-show="ttab === 'dd'">無限加速</div>
    </div>
</div>