<p class="xl:hidden mx-auto text-5xl md:rounded-lg lg:text-6xl lg:rounded-lg font-medium lg:font-bold tracking-wider cursor-pointer bg-main-light-blue-grey text-main-black-blue p-4 flex justify-center">排位賽</p>
<div class="pb-10">
    <div class="bg-main-light-blue-grey">
        <div class="flex flex-wrap justify-evenly">
            <div class="text-3xl text-main-title-blue p-8">參加排位賽來獲取積分，每個賽季結束時根據積分與段位來頒發對應的獎勵</div>
        </div>
    </div>
    <div class="pt-12">
        <div class="pt-8 pl-8 text-8xl text-main-light-blue-grey font-bold">
            <div class="col-start-2">段位積分</div>
        </div>
        <div class="bg-main-light-blue-grey">
            <div class="flex flex-wrap justify-evenly">
                <div class="text-3xl text-main-title-blue p-8">根據每場的結果獲得段位積分。</div>
            </div>
            <div class="grid grid-cols-2 gap-4 pt-8 pb-8 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-5  justify-items-center">
                <div class="pt-8">
                    <div class="pt-8 pl-8 text-4xl  text-main-title-blue font-bold">
                        <div class="col-start-2">單人競速</div>
                    </div>
                    <div class="bg-main-faded-blue">
                        <div class="flex flex-wrap justify-evenly">
                            <div class="text-3xl text-main-title-blue p-8">得分來自於名次、衝線、獨估鰲頭、連續第一次數；最後四名會扣分</div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>