<div class="flex justify-between pt-12" id="pitem">
    <div class="text-main-light-blue-grey text-opacity-100 text-6xl sm:text-7xl md:text-8xl lg:text-9xl font-medium lg:font-bold tracking-wider">個人</div>
    <a href="gamemodes.html/#titem"><div class="cursor-pointer hover:text-white text-main-light-blue-grey text-opacity-30 text-6xl sm:text-7xl md:text-8xl lg:text-9xl font-medium lg:font-bold tracking-wider">組隊</div></a>
    
</div>
<div class="pb-10">
    <div class="bg-main-light-blue-grey pl-8">
        <div class="flex flex-wrap justify-evenly">
            <div class="text-3xl text-main-title-blue p-8">依到達終點的順序計算名次</div>
        </div>
    </div>
    <div class="pt-40 hidden lg:block">
        <div class="bg-main-light-blue-grey relative">
            <div class="grid grid-rows-3 grid-flow-col gap-4">
                
                <div class="row-span-3 absolute left-0 -top-20 lg:w-72 xl:w-auto"><img src="images/speed-r.png" alt="" /></div>
                
                <p class="col-span-2 bg-main-m-yellow mx-auto text-4xl text-main-title-blue py-4 px-12 transform -rotate-6 shadow-lg">紅色氮氣</p>
    
                <div class="mt-10 w-11/12 xl:w-3/4 text-2xl xl:text-3xl text-main-title-blue p-8 absolute bottom-0 right-0">底下有一條紅色的進度條，在飄移的時候會同時集氣，集滿時可做為一個紅色氮氣，使用時可瞬間加速至最高速度一段時間，反之，在集氣過程中如果撞到地圖周圍，則進度條將直接歸零。</div>
    
            </div>
        </div>
    </div>
    <div class="pt-12 lg:hidden">
        <div class="bg-main-light-blue-grey relative grid place-items-center">  
            
            <p class="bg-main-m-yellow mt-10 mx-auto text-3xl text-main-title-blue py-4 px-12 shadow-lg">紅色氮氣</p>
            
            <div class="w-60 pt-10"><img src="images/speed-r.png" alt="" /></div>
            
            <div class="w-3/4 text-2xl text-main-title-blue p-8">底下有一條紅色的進度條，在飄移的時候會同時集氣，集滿時可做為一個紅色氮氣，使用時可瞬間加速至最高速度一段時間，反之，在集氣過程中如果撞到地圖周圍，則進度條將直接歸零。</div>
    
        </div>
    </div>  
</div>

<div class="flex justify-between pt-12" id="titem">
    <a href="gamemodes.html/#pitem"><div class="cursor-pointer hover:text-white text-main-light-blue-grey text-opacity-30 text-6xl sm:text-7xl md:text-8xl lg:text-9xl font-medium lg:font-bold tracking-wider">個人</div></a>
    <div class="text-main-light-blue-grey text-opacity-100 text-6xl sm:text-7xl md:text-8xl lg:text-9xl font-medium lg:font-bold tracking-wider">組隊</div>
</div>
<div class="pb-10">
    <div class="bg-main-light-blue-grey pl-8">
        <div class="flex flex-wrap justify-evenly">
            <div class="text-3xl text-main-title-blue p-8">以不同名次佔不同分數，計算最後各隊伍分數之總和，以分數較高隊伍獲勝。</div>
        </div>
    </div>
    <div class="pt-40 hidden lg:block">
        <div class="bg-main-light-blue-grey relative">
            <div class="grid grid-rows-3 grid-flow-col gap-4">
                
                <div class="row-span-3 absolute left-0 -top-20 lg:w-72 xl:w-auto"><img src="images/speed-b.png" alt="" /></div>
                
                <p class="col-span-2 bg-main-m-yellow mx-auto text-4xl text-main-title-blue py-4 px-12 transform -rotate-6 shadow-lg">藍色氮氣</p>
    
                <div class="mt-10 w-11/12 xl:w-3/4 text-2xl xl:text-3xl text-main-title-blue p-8 absolute bottom-0 right-0">紅色進度條下還有一條藍色進度條，由隊友們一起集氣，集滿時原有的紅色氮氣會轉變成藍色氮氣，增加速度的持續時間較長。</div>
    
            </div>
        </div>
    </div>
    <div class="pt-12 lg:hidden">
        <div class="bg-main-light-blue-grey relative grid place-items-center">  
            
            <p class="bg-main-m-yellow mt-10 mx-auto text-3xl text-main-title-blue py-4 px-12 shadow-lg">藍色氮氣</p>
            
            <div class="w-60 pt-10"><img src="images/speed-b.png" alt="" /></div>
            
            <div class="w-3/4 text-2xl text-main-title-blue p-8">紅色進度條下還有一條藍色進度條，由隊友們一起集氣，集滿時原有的紅色氮氣會轉變成藍色氮氣，增加速度的持續時間較長。</div>
    
        </div>
    </div>
</div>
<div class="pb-24">
    <div class="w-full relative xl:max-w-screen-xl xl:justify-items-center mx-auto"><img src="images/speed-win.png" alt="" />
        <p class="hidden md:block md:absolute md:bottom-0 md:right-0 md:transform md:-rotate-6 md:bg-main-m-yellow md:mx-auto md:text-2xl md:text-main-title-blue md:py-4 md:px-12 md:justify-items-center">在組隊模式中，其中一隊的隊員全部跑在另一隊的前面並都有抵達終點。</p>
        <p class="md:hidden bg-main-m-yellow mx-auto text-1xl text-main-title-blue py-4 px-12 justify-items-center">在組隊模式中，其中一隊的隊員全部跑在另一隊的前面並都有抵達終點。</p>
    </div>
</div>