<div>
    <% data.mode.story.forEach((s)=> { %>
        <div class="mb-8 bg-main-light-blue-grey relative">
            <div class="text-main-title-blue text-6xl pt-8 pl-24">
                <b><%= s.typeName %></b>
            </div>
            <div class="w-4/5 mx-auto">
                <hr class="border-main-title-blue border-4">
            </div>
        
            <div class="flex flex-wrap justify-evenly">
                <div class="w-1/3 mx-auto p-8">
                    <div><img src="images/<%= s.Img %> " alt="" /></div>
                </div>

                <div class="text-main-title-blue text-3xl w-2/3 mx-auto pb-10 pt-8">
                    <%= s.intro %>
                </div>
            </div>
        </div>
    <% }) %>
</div>