<p class="xl:hidden mx-auto text-5xl md:rounded-lg lg:text-6xl rounded-lg font-medium lg:font-bold tracking-wider cursor-pointer bg-main-light-blue-grey text-main-black-blue p-4 flex justify-center">計時賽</p>

<div class="pb-10 pt-12">
    <div class="bg-main-light-blue-grey">
        <div class="flex flex-wrap justify-evenly">
            <div class="text-3xl text-main-title-blue p-8">自己或別人的紀錄會變成影子和你比賽，在每個地圖中跑出自己的成績，成績將會計入排行榜。</div>
        </div>
    </div>
    <div class="pt-24">
        <div class="bg-main-light-blue-grey">
            <div class="flex flex-wrap relative items-center">
                <div class="flex justify-items-start absolute -top-12 -left-4">
                    <div class="bg-main-m-yellow mx-auto text-4xl text-main-title-blue py-4 px-12 transform -rotate-6 shadow-lg font-bold">排行榜</div>
                </div>     
                <div class="text-2xl text-main-title-blue p-8 w-full xl:w-1/2 text-center">
                    <div>賽道排行榜，包括全區榜和好友榜</br>(每週日24點重置各賽道的排行榜)</div></br>
                    <p>全區榜:和全區玩家的成績進行比拼排名</p></br>
                    <P>好友榜:和好友玩家的成績進行比拼排名</P>
                </div>
                <div class="w-full xl:w-1/2 flex justify-center"><img src="images/time0.png" alt=""></div>                
            </div>
        </div>
    </div>
    <div class="pt-24">
        <div class="bg-main-light-blue-grey">
            <div class="flex flex-wrap relative justify-center">
                <div class="w-80 absolute -top-24 -left-12"><img src="images/timeking.png" alt=""></div>
                <div class="text-3xl text-main-title-blue p-8 text-center">
                    <p>每週日23:55-24:00為結算時間，這段時間跑圖成績不計入賽道之王。</p></br>
                    <p>賽道的全區排行榜第1名，自動成為該賽道的賽道之王，賽道之王會持續一週。</p>
                </div>
                
            </div>
        </div>
    </div>
</div>