<div class="flex justify-evenly">

    <div><button>休閒模式</button></div>
    
    <div><button>競速模式</button></div>
            
    <div><button>排位賽</button></div>
            
    <div><button>故事模式</button></div>
            
    <div><button>計時賽</button></div> 

</div>