<div class="flex justify-around">

    <div class="flex-auto"><button>休閒模式</button></div>
    
    <div class="flex-auto"><button>競速模式</button></div>
            
    <div class="flex-auto"><button>排位賽</button></div>
            
    <div class="flex-auto"><button>故事模式</button></div>
            
    <div class="flex-auto"><button>計時賽</button></div> 

</div>