<div class="flex justify-evenly text-5xl">

    <div class="bg-main-light-blue-grey rounded-lg text-main-title-blue p-2">休閒模式</div>
    
    <div class="bg-main-black-blue rounded-lg text-white hover:bg-main-light-blue-grey cursor-pointer p-2">競速模式</button></div>
            
    <div class="bg-main-black-blue hover:bg-main-light-blue-grey rounded-lg text-white cursor-pointer p-2">排位賽</button></div>
            
    <div class="bg-main-black-blue hover:bg-main-light-blue-grey rounded-lg text-white cursor-pointer p-2">故事模式</button></div>
            
    <div class="bg-main-black-blue hover:bg-main-light-blue-grey rounded-lg text-white cursor-pointer p-2">計時賽</button></div> 

</div>