<div class="pb-10">
    <div class="bg-main-light-blue-grey pl-8">
        <div class="flex flex-wrap justify-evenly">
            <div class="text-3xl text-main-title-blue p-8">依到達終點的順序計算名次</div>
        </div>
    </div>
    <div class="pt-40">
        <div class="bg-main-light-blue-grey relative h-auto">
            <div class="grid grid-rows-3 grid-flow-col gap-4">
                
                <div class="row-span-3 absolute left-0 -top-20"><img src="images/speed-r.png" alt="" /></div>
                
                <p class="col-span-2 bg-main-m-yellow m-auto text-4xl text-main-title-blue py-4 px-12 transform -rotate-6 shadow-lg">紅色氮氣</p>
    
                <div class="w-3/4 text-3xl text-main-title-blue p-8 absolute bottom-0 right-0">底下有一條紅色的進度條，在飄移的時候會同時集氣，集滿時可做為一個紅色氮氣，使用時可瞬間加速至最高速度一段時間，反之，在集氣過程中如果撞到地圖周圍，則進度條將直接歸零。</div>
    
            </div>
        </div>
    </div>
</div>