<div class="pb-10">
    <div class="bg-main-light-blue-grey pl-8">
        <div class="flex flex-wrap justify-evenly">
            <div class="text-3xl text-main-title-blue p-8">以不同名次佔不同分數，計算最後各隊伍分數之總和，以分數較高隊伍獲勝。</div>
        </div>
    </div>
    <div class="pt-40">
        <div class="bg-main-light-blue-grey relative h-auto">
            <div class="grid grid-rows-3 grid-flow-col gap-4">
                
                <div class="row-span-3 absolute left-0 -top-20"><img src="images/speed-b.png" alt="" /></div>
                
                <p class="col-span-2 bg-main-m-yellow m-auto text-4xl text-main-title-blue py-4 px-12 transform -rotate-6 shadow-lg">藍色氮氣</p>
    
                <div class="w-3/4 text-3xl text-main-title-blue p-8 absolute bottom-0 right-0">紅色進度條下還有一條藍色進度條，由隊友們一起集氣，集滿時原有的紅色氮氣會轉變成藍色氮氣，增加速度的持續時間較長。</div>
    
            </div>
        </div>
    </div>
</div>
<div class="pb-24">
    <div class="w-full relative"><img src="images/speed-win.png" alt="" /><p class="absolute bottom-0 right-0 transform -rotate-6 bg-main-m-yellow mx-auto text-2xl text-main-title-blue py-4 px-12 justify-items-center">在組隊模式中，其中一隊的隊員全部跑在另一隊的前面並都有抵達終點。</p></div>
    
</div>