<% data.mapStars.forEach((s, i) => { %>
    <div class="mb-40">
        <div class="py-10 border-t-2 border-b-2">
            <% if (i === 1) { %>
                <% s.maps.forEach((map) => { %>
                    <img class="w-96 h-auto" src="images/<%= map.img %>" alt="oops!">
                <% }) %>
            <% } %>
        </div>
    </div>
<% }) %>