<!-- 
<img src="images/housesystem.png" class="w-2/5"/>
<p>
<div class="col text-main-light-blue-grey text-4xl flex justify-end " id="describe">當角色升到等級六的時候小屋系統會開放。</div>
</p> 
<div class="flex justify-center">
    <img src="images/asd.png" class="w-2/5"></img>
    <div style="width: 100px;height: 200px;"></div>
    <img src="images/asd.png" class="w-2/5"></img>
</div>

<img src="images/provew.png" class="w-1/3"/>
<div class="col text-main-light-blue-grey text-4xl flex justify-end">有了房產證之後，可以用酷幣和家園幣購買小屋裝飾，打造屬於自己的小屋。</div>
    <img src="images/prove.png" class="w-3/5 flex justify-center"></img>
    <p></p>
    <img src="images/furniturew.png" class="w-2/1 flex justify-center"></img>

    <img src="images/playground.png" class="w-2/5"/>
    <p></p>
    <div class="col text-main-light-blue-grey text-4xl flex justify-end " id="playgrounddescribe">遊樂場模式，每日前 10 局得到勝利候可以隨機選牌抽取獎勵。。</div>
    <p></p>
    <img src="images/furniture.png" class="w-3/5"/>
    
    <img src="images/banana.png" class="w-full"/>
    <img src="images/poker.png" class="w-full"/>
    <img src="images/car.png" class="w-full"/> -->



<div class="ml-8 text-main-light-blue-grey text-8xl pt-12 "><b>小屋系統</b></div>
<div class="mr-8 text-main-light-blue-grey text-4xl flex justify-end ">
    當角色升到等級六的時候小屋系統會開放。</div>

<!-- <div class="relative">
    <div class="relative w-2/5"><img src="images/small-home11.jpg"></img></div>
    <div class="bg-main-light-blue-grey w-2/5 left-48 relative"><p class="text-3xl text-main-cadet-blue flex justify-center">每個小屋都有獨立式立體停車場</p></div>
</div> -->
<!--實驗-->

<div class="flex justify-around flex-wrap mt-60">
    <div class="w-11/12 md:w-2/5 relative h-56  bg-main-light-blue-grey flex items-end justify-center">
        <img class="absolute -left-10 -top-48" src="images/small-home11.jpg" alt="">
        <p class="text-3xl text-main-cadet-blue text-center pb-3">每個小屋都有獨立式立體停車場</p>
    </div>
    <div class="w-11/12 md:w-2/5 relative h-56  bg-main-light-blue-grey flex items-end justify-center">
        <img class="absolute -left-10 -top-48" src="images/small-home22.jpg" alt="">
        <p class="text-3xl text-main-cadet-blue text-center pb-3">可以隨建築物裝飾自行擴充</p>
    </div>
</div>
<!--定案區塊-->


<div class=" text-main-light-blue-grey text-8xl flex justify-end mr-40 pt-36"><b>房產證</b></div>

<!-- <div class="w-11/12 md:w-2/5 relative h-56  ml-96 mt-60 bg-main-light-blue-grey flex items-end justify-center">
    <img class="absolute -left-10 -top-48" src="images/prove2.jpg" alt="">
    <p class="text-3xl text-main-cadet-blue text-center pb-3 ">有了房產證之後，可以用酷幣和家園幣購買小屋裝飾，打造屬於自己的小屋。</p>
</div> -->

<div class=" flex justify-around mt-20 flex-wrap pb-20">
    <div class="w-3/5  flex items-end justify-center">
        <img class=" left-20 -top-60" src="images/prove2.jpg" alt="">
    </div>
    <div class="w-1/2 relative h-32 flex items-end justify-center">
        <div class="text-3xl text-main-light-blue-grey text-center -top-30 mr-40">
            有了房產證之後，可以用酷幣和家園幣購買小屋裝飾，打造屬於自己的小屋。
        </div>
    </div>
</div> 

<!-- <div class=" flex justify-around mt-20 flex-wrap">
    <div class="w-3/5 relative flex items-end justify-center">
        <img class="left-20 -top-60" src="images/prove2.jpg" alt="">
    </div>
    <div class="w-1/2 relative h-48 flex items-end justify-center">
        <div class="text-3xl text-main-light-blue-grey text-center -top-30 mr-40">
            有了房產證之後，可以用酷幣和家園幣購買小屋裝飾，打造屬於自己的小屋。
        </div>
    </div>
</div> -->

<div class="bg-gray-500 w-full sm:w-5/6 lg:w-4/5 relative mx-auto h-48">
    <div class="absolute h-96 sm:h-80 lg:h-60 bg-main-light-blue-grey flex flex-col justify-center w-full left-0 top-0 sm:-left-8 sm:top-8 lg:-left-16 md:top-10 py-56 sm:pt-1 sm:pb-3">
        　　<p class="text-indent -mt-6 sm:-mt-4 px-3 text-main-cadet-blue text-3xl text-left">
            酷幣等同於遊戲裡的交易籌碼，可以靠解小屋的每日任務來獲得，又或者是用儲值的方式來兌換。</p>
            <p class="text-indent px-3 text-main-cadet-blue text-3xl text-left">
            家園幣主要作用則是兌換各種小屋裝扮，使用裝扮可以提高家園的繁榮度，
            獲得更高的好友排名和獎勵，可以去遊樂場賺取家園幣。</p>
    </div>
</div>



<div class="mt-48 lg:mt-14 md:ml-20 text-main-light-blue-grey text-6xl md:text-8xl lg:text-8xl pt-36"><b>遊樂場</b></div>
<div class="px-4 lg:pr-8 pt-16 flex justify-center md:justify-end">
    <p class="text-main-light-blue-grey text-4xl">遊樂場模式，每日前 10 局得到勝利候可以隨機選牌抽取獎勵。</p>
</div>


<div class="flex justify-around flex-wrap mt-64">
    <div class="relative h-40 bg-main-light-blue-grey flex items-end justify-center mt-24 ml-20 w-11/12 lg:w-1/3">
        <img class="absolute -left-20 -top-44 " src="images/furniture.jpg" alt="">
        <p class="text-3xl text-main-cadet-blue text-center">
            獎勵有小屋裝飾、家園幣或幸運幣。</p>
    </div>

    <div class="mt-40 lg:-mt-44 w-5/6 lg:w-1/3 flex flex-col justify-center">
        <div class="flex justify-center pb-20">
            <div class=" text-main-light-blue-grey text-4xl pt-12 pr-10">爆走蕉皮</div>
            <img src="images/banana22.jpg" class="w-2/5"></img>
        </div>

        <div class="flex justify-center pb-20">
            <img src="images/poker22.jpg" class="w-2/5"></img>
            <div class=" text-main-light-blue-grey text-4xl pt-12 pr-10 pl-12">歡樂翻牌</div>
        </div>

        <div class="flex justify-center pb-20">
            <div class=" text-main-light-blue-grey text-4xl pt-12 pr-10">瘋狂躲車</div>
            <img src="images/car33.jpg" class="w-2/5"></img>
        </div>
    </div>
</div>


<div class=" text-main-light-blue-grey text-8xl flex justify-end mr-28 pt-28"><b>爆走蕉皮</b></div>
<div class="flex justify-around mt-60">
    <div class="w-3/5 relative h-96 bg-main-light-blue-grey flex items-end justify-center">
        <img class="absolute -left-16 -top-40 md:w-auto" src="images/banana.jpg" alt="">
        <p class="text-indent text-3xl text-main-cadet-blue pb-3 px-3">
            躲避地上的香蕉皮，不能踩到香蕉皮去阻礙到吃銀幣，
            如果不小心踩到焦皮就會頭暈把銀幣吐出來，途中會有香蕉掉落作為干擾。
            比時間內誰吃的銀幣比較多，多者獲勝。</p>
    </div>
</div>

<div class=" text-main-light-blue-grey text-8xl flex justify-end mr-28 pt-28 pb-14"><b>歡樂翻牌</b></div>
<div class="flex justify-around mt-60">
    <div class="w-3/5 relative h-96 bg-main-light-blue-grey flex items-end justify-center">
        <img class="absolute -left-16 -top-60 md:w-auto" src="images/poker.jpg" alt="">
        <p class="text-indent text-3xl text-main-cadet-blue pb-3 px-3">
            遊戲開始前會有幾張牌讓大家記住，需要記憶的牌數與人數一樣。
            在另一邊則會有一堆牌混合著需要記憶的牌，給玩家幾秒鐘的記憶秒數。
            時間到後牌面全部翻下，由系統任意移動紙牌位置，移動結束后，
            讓玩家選擇剛剛記憶的紙牌在什麼位置。正確則為勝利，共有四次機會。</p>
    </div>
</div>

<div class=" text-main-light-blue-grey text-8xl flex justify-end mr-28 pt-28 "><b>瘋狂躲車</b></div>
<div class="flex justify-around mt-60 mb-20">
    <div class="w-3/5 relative h-96 bg-main-light-blue-grey flex items-end justify-center">
        <img class="absolute -left-16 -top-52 md:w-auto" src="images/car.jpg" alt="">
        <p class="text-indent text-3xl text-main-cadet-blue pb-3 px-3">
            不同數量的賽車從上下左右四個方向將隨機開，玩家需要躲避不規則的車輛，
            每個玩家各有三點生命值，被賽車撞到一次扣一點生命值，生命值扣完後玩家將被淘汰，
            回合數越高車輛越多速度也越快，過越多關卡的玩家有機會獲得的更高的遊戲獎勵。</p>
    </div>
</div>