

<div class="ml-16 md:ml-44 text-main-light-blue-grey text-6xl md:text-8xl pt-32 wow animate__zoomIn"><b>小屋系統</b></div>
<div class="ml-6 sm:ml-20 md:mr-20 mt-20 text-main-light-blue-grey text-3xl md:text-5xl flex justify-center">
    當角色升到等級六的時候小屋系統會開放。</div>

<div class="flex justify-around flex-wrap mt-32 md:mt-48">
    <div class="w-10/12 md:w-3/5 lg:w-2/5 my-16 lg:my-0 bg-main-light-blue-grey flex flex-col justify-evenly wow animate__rotateInDownLeft">
        <img class="transform -translate-x-8 -translate-y-8" src="images/small-home11.jpg" alt="">
        <p class="-mt-4 pb-4 text-3xl text-main-cadet-blue text-center">每個小屋都有獨立式立體停車場</p>
    </div>
    <div class="w-10/12 md:w-3/5 lg:w-2/5 my-16 lg:my-0 bg-main-light-blue-grey flex flex-col justify-evenly wow animate__rotateInDownRight">
        <img class="transform -translate-x-8 -translate-y-8 " src="images/small-home22.jpg" alt="">
        <p class="-mt-4 pb-4 text-3xl text-main-cadet-blue text-center">可以隨建築物裝飾自行擴充</p>
    </div>
</div>

<div class=" text-main-light-blue-grey text-6xl md:text-8xl flex justify-end sm:mr-56 mr-24 pt-36 wow animate__zoomIn"><b>房產證</b></div>

<div class=" flex justify-around mt-20 flex-wrap pb-20">
    <div class="w-10/12 md:w-3/5 lg:w-2/5 flex items-end justify-center md:ml-14">
        <img class=" left-20 -top-60 md:mr-0" src="images/prove2.jpg" alt="">
    </div>
    <div class="w-10/12 h-48 md:h-32 flex items-end justify-center mt-10">
        <div class="text-indent text-4xl md:text-5xl text-main-light-blue-grey md:text-center wow animate__lightSpeedInLeft">
            有了房產證之後，可以用酷幣和家園幣購買小屋裝飾，打造屬於自己的小屋。
        </div>
    </div>
</div> 

<div class="bg-gray-500 w-full md:w-4/6 lg:w-2/3 relative mx-auto h-48 md:h-96 lg:h-64">
    <div class="absolute h-96 md:h-96 lg:h-64 bg-main-light-blue-grey flex flex-col justify-center w-full left-0 top-0 md:-left-8 lg:-left-16 md:top-10 py-56 md:pt-1 md:pb-3">
        　　<p class="text-indent -mt-6 md:-mt-4 px-3 text-main-cadet-blue text-3xl md:text-4xl text-left">
            酷幣等同於遊戲裡的交易籌碼，可以靠解小屋的每日任務來獲得，又或者是用儲值的方式來兌換。</p>
            <p class="text-indent px-3 text-main-cadet-blue text-3xl md:text-4xl text-left">
            家園幣主要作用則是兌換各種小屋裝扮，使用裝扮可以提高家園的繁榮度，
            獲得更高的好友排名和獎勵，可以去遊樂場賺取家園幣。</p>
    </div>
</div>

<div class="mt-40 ml-24 md:ml-44 text-main-light-blue-grey text-6xl md:text-8xl pt-32 wow animate__zoomIn"><b>遊樂場</b></div>
<div class="px-4 lg:pr-8 pt-16 flex justify-center md:justify-end">
    <p class="text-main-light-blue-grey text-3xl md:text-5xl">遊樂場模式，每日前 10 局得到勝利候可以隨機選牌抽取獎勵。</p>
</div>

<div class="flex justify-around flex-wrap md:mt-64 md:ml-10 mt-32">
    <div class="w-full lg:w-2/5 h-full bg-main-light-blue-grey sm:-mt-32 mt-24 lg:ml-20 md:ml-0">
        <img class="transform -translate-x-12 -translate-y-12 ml-12 md:ml-0" src="images/furniture.jpg" alt="">
        <p class="text-4xl text-main-cadet-blue text-center pb-6 px-3">
            獎勵有小屋裝飾、家園幣或幸運幣。</p>
    </div>

    <div class="md:mt-20 lg:-mt-28 w-5/6 lg:w-1/3 flex flex-col justify-center flex-wrap">

        <div class="flex justify-center pb-20 flex-wrap">
            <div class=" text-main-light-blue-grey text-5xl pt-12 pr-10 ">爆走蕉皮</div>
            <img src="images/banana22.jpg" class="w-7/9 md:w-3/5 wow animate__fadeInRightBig md:h-64 mt-10 md:mt-0"></img>
        </div>

        <div class="flex justify-center pb-20 flex-wrap md:mt-12">
            <div class=" text-main-light-blue-grey text-5xl pt-12 pr-10">歡樂翻牌</div>
            <img src="images/poker22.jpg" class="w-7/9 md:w-3/5 wow animate__fadeInLeftBig md:h-72 mt-10 md:mt-0"></img>
        </div>

        <div class="flex justify-center pb-20 flex-wrap">
            <div class=" text-main-light-blue-grey text-5xl pt-12 pr-10">瘋狂躲車</div>
            <img src="images/car33.jpg" class="w-7/9 md:w-3/5 wow animate__fadeInRightBig md:h-64 mt-10 md:mt-0"></img>
        </div>
    </div>
</div>

<div class=" text-main-light-blue-grey text-6xl md:text-8xl flex justify-center flex-wrap mt-52 md:mt-10 "><b>爆走蕉皮</b></div>

<div class="w-11/12 md:w-10/12 flex justify-center flex-wrap ml-4 md:ml-20 lg:ml-28 mt-10 md:mt-20">
    <img class="wow animate__zoomInLeft" src="images/banana.jpg" alt="">
</div>
<div class="bg-gray-500 w-full md:w-4/6 lg:w-2/3 relative mx-auto md:h-72 lg:h-48 mt-10 md:mt-20">
    <div class="absolute h-52 md:h-72 lg:h-56 bg-main-light-blue-grey flex flex-col justify-center w-full left-0 top-0 md:-left-8 md:top-8 lg:-left-16 lg:top-10 py-56 md:pt-1 md:pb-3">
        <p class="text-indent -mt-6 md:-mt-4 px-3 text-main-cadet-blue text-3xl md:text-4xl text-left">
            躲避地上的香蕉皮，不能踩到香蕉皮去阻礙到吃銀幣，
            如果不小心踩到焦皮就會頭暈把銀幣吐出來，途中會有香蕉掉落作為干擾。
            比時間內誰吃的銀幣比較多，多者獲勝。
        </p>
    </div>
</div>

<div class=" text-main-light-blue-grey text-6xl md:text-8xl flex justify-center flex-wrap mt-96 md:mt-36 "><b>歡樂翻牌</b></div>

<div class="w-11/12 md:w-10/12 flex justify-center flex-wrap ml-4 md:ml-20 lg:ml-28 mt-10 md:mt-20">
    <img class="wow animate__zoomInLeft" src="images/poker.jpg" alt="">
</div>
<div class="bg-gray-500 w-full md:w-4/6 lg:w-2/3 relative mx-auto md:h-72 lg:h-48 mt-10 md:mt-20">
    <div class="absolute h-96 md:h-72 lg:h-56 bg-main-light-blue-grey flex flex-col justify-center w-full left-0 top-0 md:-left-8 md:top-8 lg:-left-16 lg:top-10 py-56 md:pt-1 md:pb-3">
        <p class="text-indent -mt-6 md:-mt-4 px-3 text-main-cadet-blue text-3xl md:text-4xl text-left">
            遊戲開始前會有幾張牌讓大家記住，需要記憶的牌數與人數一樣。
            在另一邊則會有一堆牌混合著需要記憶的牌，給玩家幾秒鐘的記憶秒數。
            時間到後牌面全部翻下，由系統任意移動紙牌位置，移動結束后，
            讓玩家選擇剛剛記憶的紙牌在什麼位置。正確則為勝利，共有四次機會。
        </p>
    </div>
</div>


<!-- 
<div class=" text-main-light-blue-grey text-6xl md:text-8xl flex justify-center flex-wrap mt-96 md:mt-64"><b>歡樂翻牌</b></div>

<div class="w-11/12 md:w-10/12 flex justify-center flex-wrap ml-4 md:ml-20 lg:ml-28 mt-10 md:mt-20 ">
    <img class="wow animate__zoomInLeft" src="images/poker.jpg" alt="">
</div>
<div class="bg-gray-500 w-full md:w-4/6 lg:w-2/3 relative mx-auto md:h-96 lg:h-48 mt-10 md:mt-20">
    <div class="absolute h-96 md:h-96 lg:h-56 bg-main-light-blue-grey flex flex-col justify-center w-full left-0 top-0 md:-left-8 md:top-8 lg:-left-16 lg:top-10 py-56 md:pt-1 md:pb-3">
        <p class="text-indent -mt-6 md:-mt-4 px-3 text-main-cadet-blue text-3xl md:text-3xl lg:text-4xl text-left">
            遊戲開始前會有幾張牌讓大家記住，需要記憶的牌數與人數一樣。
            在另一邊則會有一堆牌混合著需要記憶的牌，給玩家幾秒鐘的記憶秒數。
            時間到後牌面全部翻下，由系統任意移動紙牌位置，移動結束后，
            讓玩家選擇剛剛記憶的紙牌在什麼位置。正確則為勝利，共有四次機會。
        </p>
    </div>
</div>


<div class=" text-main-light-blue-grey text-6xl md:text-8xl flex justify-center flex-wrap mt-64 md:mt-56"><b>瘋狂躲車</b></div>

<div class="w-11/12 md:w-10/12 flex justify-center flex-wrap ml-4 md:ml-20 lg:ml-28 mt-10 md:mt-20 ">
    <img class="wow animate_h_zoomInLeft" src="images/car.jpg" alt="">
</div>
<div class="bg-gray-500 w-full md:w-4/6 lg:w-2/3 relative mx-auto md:h-80 lg:h-56 mt-10 md:mt-20 ">
    <div class="absolute h-80 md:h-96 lg:h-64 bg-main-light-blue-grey flex flex-col justify-center w-full left-0 top-0 md:-left-8 md:top-8 lg:-left-16 lg:top-10 py-56 md:pt-1 md:pb-3">
        <p class="text-indent -mt-6 md:-mt-4 px-3 text-main-cadet-blue text-3xl md:text-4xl text-left">
            不同數量的賽車從上下左右四個方向將隨機開，玩家需要躲避不規則的車輛，
            每個玩家各有三點生命值，被賽車撞到一次扣一點生命值，生命值扣完後玩家將被淘汰，
            回合數越高車輛越多速度也越快，過越多關卡的玩家有機會獲得的更高的遊戲獎勵。
        </p>
    </div>
</div> -->

