<div class="w-full sm:w-2/3 md:w-11/12 xl:w-2/3 mx-auto mt-8 sm:mt-14 shadow">
  <a href="https://forum.gamer.com.tw/A.php?bsn=36872" target="_blank" rel="noopener noreferrer" class="w-full">
    <img src="images/banner-gamer.png" alt="" />
  </a>
</div>

<div class="sm:flex w-full sm:w-2/3 md:w-11/12 xl:w-2/3 mx-auto mt-8 sm:mt-14 shadow">
  <div class="w-full sm:w-2/3">
    <a href="https://www.facebook.com/KartRushTW" target="_blank" rel="noopener noreferrer" class="w-full">
      <img src="images/banner-fb.png" alt="" />
    </a>
  </div>
  <div
    class="flex justify-around items-center flex-wrap w-full sm:w-1/3 bg-white p-4 sm:p-3 md:p-5"
  >
    <div class="flex items-center w-5/12 sm:w-full">
      <a class="w-full" href="https://bit.ly/3fJFQ9M" target="_blank" rel="noopener noreferrer">
        <img class="w-full h-auto" src="images/btn-app-google.png" alt="" />
      </a>
    </div>
    <div class="flex items-center w-5/12 sm:w-full">
      <a class="w-full" href="https://apple.co/2WPnlrs" target="_blank" rel="noopener noreferrer">
        <img class="w-full h-auto" src="images/btn-app-apple.png" alt="" />
      </a>
    </div>
  </div>
</div>
