<div class="relative w-full sm:w-2/3 md:w-11/12 xl:w-2/3 mx-auto mt-8 sm:mt-14 sm:rounded-3xl overflow-hidden">
  <div class="w-full" style="padding-top: calc(100% * 9 / 16);"></div>
  <iframe
    class="w-full h-full absolute top-0 left-0"
    width="560"
    height="315"
    src="https://www.youtube-nocookie.com/embed/Uv9y9cLtjGQ"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
