<div>
    <% data.mapStars.forEach((s, i) => { %>
        <div class="mb-80">
            <div class="grid grid-cols-2 gap-4 lg:grid-cols-3 xl:max-w-screen-xl
            py-10 mx-auto relative border-t-4 border-b-4 border-main-light-blue-grey">
                <p class="text-5xl text-main-light-blue-grey absolute -top-16 mx-auto"><%= s.star %></p>
                <% s.maps.forEach((map) => { %>
                    <img class="shadow-xl" src="images/<%= map.img %>" alt="oops!">
                <% }) %>
            </div>
        </div>
    <% }) %>
</div>