<h1>maps</h1>

<div class="w-11/12 sm:w-2/3 md:w-2/3 xl:w-4/5 mx-auto">
    <div class="flex justify-evenly items-center my-20 p-8">
        <% data.mapStars.forEach((s, i) => { %>
            <div class="border border-dashed">
                <div class="flex justify-center text-3xl text-main-map-diff "><%= s.diff %></div>
                <div class="flex justify-center text-2xl text-main-map-star"><%= s.star %></div>
            </div>
            <% }) %>
    </div>
</div>