<div x-data="{ tab: 's1' }">
    <div :class="{ 'active': tab === 's1' }" @click="tab = 's1'">s1</div>
    <div :class="{ 'active': tab === 's2' }" @click="tab = 's2'">s2</div>

    <div x-show="tab === 's1'">Tab Foo</div>
    <div x-show="tab === 's2'">Tab Bar</div>
</div>


<div x-data="{ tab: 'one' }">
    <div class="cursor-pointer pb-24 flex items-end">
        <div>
            <div :class="{ 'active': tab === 'one'}" @click="tab = 'one'">
                ★✰✰✰✰
            </div>
        </div>
        <div>
            <div :class="{ 'active': tab === 'two'}" @click="tab = 'two'">
                ★
            </div>    
        </div>
    </div>

    <div x-show="tab === 'one'">
        <%- include('one') %>
    </div>
    <div x-show="tab === 'two'">
        <%- include('two') %>
    </div>
</div>

sm:grid-cols-2 md:grid-cols-2 