<div class="bg-main-light-blue-grey pl-8">
    <div class="flex flex-wrap justify-evenly">
        <div class="text-3xl text-main-title-blue p-8">無限加速模式中，賽車的飄移集氣效率極高，任意飄移均可集滿氮氣。但請注意，釋放氮氣時機不合理，可是會導致速度過快而撞牆!</div>

        <div class="xl:w-1/2 p-8 grid grid-rows-2 gap-4">
            <a href="gamemodes.html/#sp">
                <div class="xl:pl-16 flex items-center justify-self-center">
                    <div class="col-span-1 grid justify-items-end"><img src="images/fast-p.png" alt="" /></div>
                    <div class="text-2xl xl:text-3xl col-span-1 pl-2 text-main-t-gray"><b>個人無限加速</b></div>
                </div>
            </a>
            <a href="gamemodes.html/#st">
                <div class="xl:pl-16 flex items-center justify-self-center">
                    <div class="col-span-1 grid justify-items-end"><img src="images/fast-t.png" alt="" /></div>
                    <div class="text-2xl xl:text-3xl col-span-1 pl-2 text-main-t-gray"><b>團體無限加速</b></div>
                </div>
            </a>
        </div>
        <div class="xl:w-1/2 flex items-end"><img src="images/fast0.png" alt="" /></div>
    </div>
</div>