<div class="pt-8 pl-8 text-8xl text-main-light-blue-grey">
    <div class="col-start-2">規則</div>
</div>
<!-- <div class="flex flex-wrap justify-evenly"></div> -->
<div class="mb-8 bg-main-light-blue-grey relative">
    <div class="text-main-title-blue text-6xl pt-8 pl-24">
        <b>個人無限加速</b>
    </div>
    <div class="w-4/5 mx-auto">
        <hr class="border-main-title-blue border-4">
    </div>
    
    <div class="text-main-title-blue text-3xl w-3/4 mx-auto pt-8 pb-10">
        比賽以判定最先抵達終點線的賽車為獲勝者。<br/>當第一名過線後，進入10秒倒計時階段，在該階段能夠過線的賽車均為完成狀態，且記錄名次。<br/>10秒倒計時後，仍未過線的賽車會被判定為未完成。<br/>最終，只有完成比賽的前三名可以登上頒獎台。
    </div>

</div>

<div class="mb-8 bg-main-light-blue-grey relative">
    <div class="text-main-title-blue text-6xl pt-8 pl-24">
        <b>組隊無限加速</b>
    </div>
    <div class="w-4/5 mx-auto">
        <hr class="border-main-title-blue border-4">
    </div>

    <div class="text-main-title-blue text-3xl w-3/4 mx-auto pb-10 pt-8">
        所有賽車會被劃分為紅、藍兩支隊伍。<br/>比賽結束時，根據兩隊隊員獲得的隊伍總分判定哪支隊伍為獲勝方。<br/>獲勝的小隊全體隊員，都會登上頒獎台。<br/>另外，組隊無限氮氣，飄移獲得的氮氣為小隊氮氣(藍色氮氣)。
    </div>
    
    
</div>