<div class="bg-main-light-blue-grey pl-8">
    <div class="p-8">
        <div style="width:auto">
            <div class="text-4xl text-main-light-blue-grey bg-main-gray-blue rounded-full py-3 px-6 col-start-1 col-span-1"><b>寵物</b></div>
        </div>

        <div class="pl-8 w-full grid grid-cols-4 gap-4 pt-8 pb-8">
            <div class="text-2xl text-main-t-gray p-2">● 小玉兔</div>
            <div class="text-2xl text-main-t-gray p-2">● 黑白鈴鐺貓</div>
            <div class="text-2xl text-main-t-gray p-2">● 蟹蟹妮</div>
            <div class="text-2xl text-main-t-gray p-2">● 小獅王</div>
            <div class="text-2xl text-main-t-gray p-2">● 瑤臺仙子</div>
            <div class="text-2xl text-main-t-gray p-2">● 小哈士奇</div>
            <div class="text-2xl text-main-t-gray p-2">● 水藍章魚寵物</div>
        </div>

        <div class="mx-auto">
            <div class="text-4xl text-main-light-blue-grey bg-main-gray-blue rounded-full py-3 px-6"><b>飛寵</b></div>
        </div>

        <div class="pl-8 w-full grid grid-cols-4 gap-4 pt-8">
            <div class="text-2xl text-main-t-gray p-2">● 藍色水汪汪飛彈</div>
        </div>
    </div>
</div>