<div class="bg-main-light-blue-grey pl-8">
    <div class="flex flex-wrap justify-evenly">
        <div class="text-3xl text-main-title-blue p-8">2名玩家組成一隊，分別擔任一棒和二棒。一棒玩家先跑第一圈，交棒後，再由二棒玩家跑第二圈。</div>
        
        
        <div class="w-1/2 p-8 grid grid-rows-2 gap-4">
            <div class="pl-16 flex items-center justify-self-center">
                <div class="col-span-1 grid justify-items-end"><img src="images/relay-r.png" alt="" /></div>
                <div class="text-2xl col-span-1 pl-2 text-main-t-gray"><b>房間組隊</b></div>
            </div>
            
            <div class="pl-16 flex items-center justify-self-center">
                <div class="col-span-1 grid justify-items-end"><img src="images/relay-c.png" alt="" /></div>
                <div class="text-2xl col-span-1 pl-2 text-main-t-gray"><b>局內配合</b></div>
            </div>
        </div>
        <div class="w-1/2 flex items-end"><img src="images/relay0.png" alt="" /></div>
    </div>
</div>