<div class="pt-8 pl-8 text-8xl text-main-light-blue-grey">
    <div class="col-start-2">規則</div>
</div>
<!-- <div class="flex flex-wrap justify-evenly"></div> -->
<div class="mb-8 bg-main-light-blue-grey relative">
    <div class="text-main-title-blue text-6xl pt-8 pl-24">
        <b>房間組隊</b>
    </div>
    <div class="w-4/5 mx-auto">
        <hr class="border-main-title-blue border-4">
    </div>
    
    <div class="text-main-title-blue text-3xl w-3/4 mx-auto pt-8">
        房間内最多可組成四支隊伍，紅隊/藍隊/綠隊/黃隊。若隊伍中只有1人則不可開局。
    </div>
    <div class="w-1/2 mx-auto justify-self-center pb-10 pt-8"><img src="images/relay-pic.png" alt="" /></div>
</div>

<div class="mb-8 bg-main-light-blue-grey relative">
    <div class="text-main-title-blue text-6xl pt-8 pl-24">
        <b>局内配合</b>
    </div>
    <div class="w-4/5 mx-auto">
        <hr class="border-main-title-blue border-4">
    </div>

    <div class="flex flex-wrap justify-evenly">
        <div class="w-1/3 mx-auto p-8">
            <div><img src="images/relay-hand.png" alt="" /></div>
        </div>
        

        <div class="text-main-title-blue text-3xl w-2/3 mx-auto pb-10 pt-8">
            隊伍中，一人在駕駛時，另一人將進入觀戰模式。<br/>一棒玩家準備交棒時，若進綠色交棒區將觸發“完美交棒”，<br/>二棒玩家可獲得一顆氮氣，這是取得優勢的關鍵。<br/>比賽判定最先跑完兩圈的隊伍獲勝。
        </div>
    </div>
    
    
</div>