<div class="py-12 flex justify-evenly">
    <div class="border border-pink-500 grid grid-cols-2 justify-items-center gap-4 w-1/2 relative">
        <div class="rounded-3xl bg-main-light-blue-grey w-96 h-36">
            <div class="border border-main-orange-yellow rounded-t-3xl bg-main-faded-blue w-96 h-9">
                <p class="border text-center text-3xl text-main-title-blue"><b>氮氣</b></p>
                <div class="border border-green-900">
                    <p class="text-white text-center text-2xl w-60">瞬間提高發動機功率，使賽車速度加快。</p>
                </div>
                <div class="border border-red-700 absolute top-0 left-0 grid grid-cols-7 justify-items-center">
                    <div class="relative rounded-full bg-main-gloves-blue w-36 h-36 shadow-2xl" style="box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);">
                        <img class="border border-green-300 absolute top-0 left-0" src="images/tool1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>