<div class="bg-main-light-blue-grey pl-8">
    <div class="flex flex-wrap justify-evenly">
        <div class="w-1/2 flex flex-wrap content-around p-8">
            <div class="text-3xl text-main-title-blue">組隊道具</div>
            <div class="pl-8">
                <div class="text-2xl border-4 rounded-lg border-main-title-blue p-2">撞擊道具箱獲取道具，可攻擊對手或防禦對手的攻擊。最終先過終點線的賽車所屬的隊伍獲勝。</div>
            </div>
            <div class="text-3xl text-main-title-blue">個人道具</div>
            <div class="pl-8">
                <div class="text-2xl border-4 rounded-lg border-main-title-blue p-2">撞擊道具箱獲取道具，可攻擊對手或防禦對手的攻擊。最終根據通過終點的先後順序判定名次。</div>
            </div>
        </div>
        <div  class="w-1/2 flex items-end"><img src="images/tool0.png" alt="" /></div>
    </div>
</div>