<div class="fixed top-0 left-0 w-screen h-screen bg-main-cadet-blue overflow-hidden" style="z-index: -1;">
  <div class="h-full bg-center bg-no-repeat bg-cover opacity-20" style="background-image: url('images/global-bg.jpg');"></div>
</div>