<h1>characters</h1>

<div>
    <div class="grid grid-cols-6 gap-4 border-solid border">
        <div class="col-start-2 col-span-1 border-dashed border">
            <button class="text-6x1 text-main-light-blue-grey">基礎</button>
        </div>
        <div class="col-start-3 col-span-1 border-dashed border">
            <button class="text-3x1 text-main-light-blue-grey">動物</button>
        </div>
    </div>
</div>