<h1>characters</h1>

<div x-data="{ tab: 'base' }">
    <div class="grid grid-cols-6 gap-4 border-solid border">
        <div class="col-start-2 col-span-1 border-dashed border 
        text-6xl text-main-light-blue-grey flex items-end">
            <button :class="{ 'active': tab === 'base' }" @click="tab = 'base'">
                基礎
            </button>
        </div>
        <div class="col-start-3 col-span-1 border-dashed border 
        text-4xl text-main-light-blue-grey text-opacity-25 flex items-end">
            <button :class="{ 'active': tab === 'animal' }" @click="tab = 'animal'">
                動物
            </button>    
        </div>
    </div>

    <div x-show="tab === 'base'">Tab base</div>
    <div x-show="tab === 'animal'">Tab animal</div>
</div>