<h1>characters</h1>

<div class="w-11/12 sm:w-2/3 md:w-2/3 xl:w-2/3 mx-auto pt-20" x-data="{ tab: 'base' }">
    <div class="cursor-pointer pb-24 border flex items-end border-purple-400">
        <div class="text-main-light-blue-grey text-6xl pr-10">
            <div class="{ 'active': tab === 'base' }" @click="tab = 'base'">
                基礎
            </div>
        </div>
        <div class="text-main-light-blue-grey text-6xl text-opacity-25
        hover:text-opacity-100">
            <div class="{ 'active': tab === 'animal' }" @click="tab = 'animal'">
                動物
            </div>    
        </div>
    </div>

    <div x-show="tab === 'base'">
        <%- include('base') %>
    </div>
    <div x-show="tab === 'animal'">Tab animal</div>
</div>