<h1>characters</h1>
mt-8 lg:mt-14 mx-auto w-11/12 sm:w-4/5 md:w-2/3 max-w-screen-sm lg:max-w-screen-md lg:px-4
<div class="sm:w-11/12 md:w-4/5 lg:w-4/5 xl:max-w-screen-lg mx-auto pt-20" x-data="{ tab: 'base' }">
    <div class="cursor-pointer pb-24 flex items-end">
        <div class="text-main-light-blue-grey mr-10 flex space-x-4 hover:text-opacity-100" 
        :class="{ 'text-opacity-25': tab !== 'base','text-5xl': tab !== 'base'}">
            <div :class="{ 'text-opacity-100': tab === 'base', 'text-7xl': tab === 'base'}" @click="tab = 'base'">
                基礎
            </div>
        </div>
        <div class="text-main-light-blue-grey mr-10 flex space-x-4 hover:text-opacity-100" 
        :class="{ 'text-opacity-25': tab !== 'animal','text-5xl': tab !== 'animal'}">
            <div :class="{ 'text-opacity-100': tab === 'animal','text-7xl': tab === 'animal'}" @click="tab = 'animal'">
                動物
            </div>    
        </div>
    </div>

    <div x-show="tab === 'base'">
        <%- include('base') %>
    </div>
    <div x-show="tab === 'animal'">
        <%- include('animal') %></div>
</div>